<div class="mt-4">
    <h3>UPDATE COURSE</h3>


    <form class="mt-4" method="POST" action="/courses/{{courses._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Course name</label>
            <input type="text" class="form-control" value="{{courses.name}}"  id="name" name="name">
        </div>

        <div class="form-group">
            <label for="description">Course Description</label>
            <textarea  class="form-control"  id="description" name="description">{{courses.description}}</textarea>
        </div>

        <div class="form-group">
            <label for="VideoID">Course VideoID</label>
            <input type="text" class="form-control" value="{{courses.videoID}}" id="VideoID" name="VideoID">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>